[submodule "project/addons/godot-secp256k1"]
	path = project/addons/godot-secp256k1
	url = git@github.com:TimCreasman/godot-secp256k1.git
	branch = versions/1.0.0
[submodule "addons/godot-secp256k1"]
	path = addons/godot-secp256k1
	url = git@github.com:TimCreasman/godot-secp256k1.git
	branch = versions/1.0.0
